body {
      margin: auto:
      font-family: raleway, sans-serif;
      background: rgba(215, 245, 242, 0.363);
      
    }

    a {
      text-decoration: none;
    }

    /* Navbar */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgba(0, 0, 0, 0);
      padding: 1rem 2rem;
      position: absolute;
      width: 100%;
      top: 0;
      left: 1;
      box-sizing: border-box;
    
    }

    .navbar .logo {
      color:  #4CAF50;
      font-size: 2rem;
      font-weight: bold;
    }

    .navbar .signup-btn {
      background: #4CAF50;
      color: rgb(254, 254, 254);
      padding: 0.5rem 1rem;
      border-radius: 4px;
      transition: all 0.3s ease;
    }

    .navbar .signup-btn:hover {
      transform: scale(1.05);
      background: #0737d6;
    }
    /* Banner */
    .banner {
      height: 100vh;
      background: url('image/Hero-bg.png') center/cover no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      text-align: center;
    }

    .banner h1 {
      font-size: 3rem;
      
      color: #333;
      margin-bottom: 1rem;
      font-family: raleway, sans-serif;
    }

    .banner .focus-btn {
      background: #4CAF50;
      color: white;
      padding: 0.75rem 1.5rem;
      border-radius: 4px;
      transition: all 0.3s ease;
    }

    .banner .focus-btn:hover {
      background: rgba(11, 45, 236, 0.9);
      transform: scale(1.05);
    }
     /* Action Section */
    .action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      padding: 2rem 4rem;
      width: 100;
    }

    .action .text {
      flex: 1;
    }

    .action .text h2 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      font-weight: bold;
      font-family: raleway, sans-serif;
    }

    .action .text p {
      margin-bottom: 1rem;
      color: black;
      font-family: raleway, sans-serif;
    }

    .action .text .launch-btn {
      background: #4CAF50;
      color: rgb(249, 251, 250);
      padding: 0.75rem 1.5rem;
      border-radius: 4px;
      transition: all 0.3s ease;
      display: inline-block;
      font-family: raleway, sans-serif;
    }

    .action .text .launch-btn:hover {
      background: #0056b3;
      transform: scale(1.05);
    }

    .action .image {
      flex: 1;
      
      text-align: right;
    }

    .action .image img {
      max-width: 80%;
      height: auto;
      border-radius: 20px;
    }
     /* Productive Users */
  .stats-section {
  background-color: #e8eafe; 
  border-radius: 20px;       
  padding: 40px 20px;
  max-width: 1140px;
  margin: 100px auto; 
}

.stats-section h2 {
  font-size: 38px;
  margin-bottom: 90px;
  color: #111;
  text-align: center;
  font-family: raleway, sans-serif;
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.stat-item h3 {
  font-size: 80px;
  color: #4CAF50; 
  margin: 0;
  font-family: inter, sans-serif;
  font-weight: bold;
}

.stat-item p {
  margin: 8px 0 0;
  color: #666;
  font-family: inter, sans-serif;
  font-size: 20px;
}

